/* 언어설정 */
@charset 'utf-8';


/* 전체설정 */
 * {margin: 0;
padding: 0;}
ul {list-style: none;}
a {color: #000;
text-decoration: none;}
img {vertical-align: bottom;}




/* 헤더설정 */

.logo {font-size: 30px;}
.logo a {}


/* 네비설정 */
.box2 {display: flex;
    justify-content: flex-start;
align-items: center;}
.gnb {}
.gnb ul {display: flex;
justify-content: flex-end;
align-items: center;}
.gnb li {}
.gnb a {display: block;
        padding: 5px;
    font-size: 14px;}

/* 메인이미지설정 */
.topimg{max-width: 100%;}


/* 공지사항설정*/

.notice {}
.notice h2 {margin-bottom: 5px;
            font-size: 18px;
            color: #666;}
.notice ul {}
.notice li {}
.notice a {display: block;
            padding: 5px;
            font-size: 14px;
        border-bottom: dotted 2px #ddd;}
        .notice a:after {content: '';
                        display: block;
                    clear: both;}
.notice  time {float: left;}
.notice .txt {float: none;
                margin-left: 40px;
            padding-left: 10px;}
    /* 푸터설정 */

    .box5 {background-color: #ddd;
    padding: 15px 0;}
    .copyright {}
    .copyright p {font-size: 14px;
                color: #666;}


                /* 여백설정 */
.boxA {padding: 8px 10px;}
.box3 {}
.box4{padding: 15px 10px;}
.box5 {}

/* 미디어쿼리구간설정##################################################### */

/* 768px 이상일때  */
@media(min-width:768px){
/* 레이아웃설정 */
.boxA{display: flex;}
.boxA>div{width: 50%;}


/* 네비설정 */
.box2 {display: flex;
    justify-content: flex-end;
align-items: center;}
.gnb {}
.gnb ul {display: flex;
justify-content: flex-end;
align-items: center;}

}

/* 와이드데스크탑설정 */
@media(min-width:1280px){

    .boxA , .copyright ,.box3 ,.box4 {width: 1140px;
    margin: 0 auto;}

    .boxA-out {border-bottom: 1px solid #ddd;
    padding: 8px 0;
margin-bottom: 15px;}



}

